---
http_interactions:
- request:
    method: get
    uri: https://api.bitfinex.com/v1/book/BTCUSD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d5a74b389d479cafb97b821195507f90"
    body:
      encoding: UTF-8
      string: '{"bids":[{"price":"17571","amount":"3.1","timestamp":"1513361051.0"},{"price":"17570","amount":"6.47961735","timestamp":"1513361051.0"},{"price":"17567","amount":"0.0277","timestamp":"1513361051.0"},{"price":"17566","amount":"0.02092514","timestamp":"1513361051.0"},{"price":"17564","amount":"2.05831445","timestamp":"1513361051.0"},{"price":"17563","amount":"0.15","timestamp":"1513361051.0"},{"price":"17562","amount":"0.2","timestamp":"1513361051.0"},{"price":"17561","amount":"0.0097","timestamp":"1513361051.0"},{"price":"17560","amount":"0.3060007[...]
