---
http_interactions:
- request:
    method: get
    uri: https://api.kraken.com/0/public/Depth?pair=BCHEUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":[],"result":{"BCHEUR":{"asks":[["1235.000000","1.346",1513153414],["1236.000000","2.169",1513153372],["1237.400000","1.246",1513153412],["1237.500000","1.000",1513153295],["1237.800000","1.246",1513153401],["1237.900000","0.853",1513153180],["1238.000000","17.290",1513153024],["1239.000000","0.424",1513153140],["1239.600000","0.400",1513153064],["1239.700000","38.721",1513152909],["1242.000000","1.440",1513152434],["1243.000000","15.721",1513150362],["1243.065600","0.053",1513133383],["1243.100000","1.488",1513139299],["1243[...]
