---
http_interactions:
- request:
    method: get
    uri: https://api.gatecoin.com/Public/MarketDepth/BTCEUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"asks":[{"price":14699,"volume":0.01676},{"price":14900,"volume":0.17961598},{"price":14970,"volume":0.3213},{"price":14975,"volume":0.43},{"price":14999,"volume":0.29194},{"price":14999.9,"volume":0.02},{"price":15100,"volume":0.5139},{"price":15218,"volume":0.1},{"price":15436.9,"volume":0.01091000},{"price":15437,"volume":0.08},{"price":15449,"volume":0.09},{"price":15461,"volume":0.09},{"price":15473,"volume":0.077},{"price":15485,"volume":0.062},{"price":15497,"volume":0.04},{"price":15509,"volume":0.1},{"price":15521,"volume":0.02},{"price":15533,"volume":0.07},{"price":15545,"volume":0.03},{"price":15580,"volume":0.1},{"price":16000,"volume":0.05},{"price":17000,"volume":0.1},{"price":20000,"volume":0.03557},{"price":25890,"volume":0.16},{"price":610101,"volume":0.1}],"bids":[{"price":14400,"volume":0.12231564},{"price":14200,"volume":0.02033656},{"price":14000.1,"volume":2},{"price":14000,"volume":0.1},{"price":13910,"volume":0.00716399},{"price":13900,"volume":0.24952235},{"price":13890,"volume":0.02},{"price":13868.7,"volume":0.001},{"price":13818.7,"volume":0.001},{"price":13805.1,"volume":1.98872847},{"price":13805,"volume":0.94375826},{"price":13775,"volume":0.0877155},{"price":13768.7,"volume":0.001},{"price":13622,"volume":0.05},{"price":13612,"volume":0.097[...]
